{% extends 'base.html.twig' %}

{% block stylesheets %}

{#
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
#}

<link href="{{asset('bundles/nextop/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{asset('bundles/nextop/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{asset('bundles/nextop/css/simple-line-icons.css')}}" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

{#
<link href="{{asset('bundles/nextop/css/landing-page.min.css')}}" rel="stylesheet" type="text/css"/>
#}

<link href="{{asset('bundles/nextop/css/agency.min.css')}}" rel="stylesheet" type="text/css"/>

<link href="{{asset('bundles/nextop/css/style.css')}}" rel="stylesheet" type="text/css"/>

{% endblock %}


{% block title %}
Les articles de Next-Op
{% endblock %}


{% block body %}
<div class="container">
<h1>Site de démo articles</h1>


{% block contenu %}{% endblock %}


</div>
{% endblock %}



{% block javascripts %}
<script src="{{asset('bundles/nextop/js/jquery.min.js')}}"></script>
<script src="{{asset('bundles/nextop/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{asset('bundles/nextop/js/jquery.easing.min.js')}}"></script>
<script src="{{asset('bundles/nextop/js/jqBootstrapValidation.js')}}"></script>
<script src="{{asset('bundles/nextop/js/agency.min.js')}}"></script>
{% endblock %}
