{% extends '@NextOp/Default/index.html.twig' %}

{% block contenu %}

<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Liste des Articles</h2>
      </div>
    </div>


    <div class="row">

    {% for article in articles %}

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <img class="img-fluid" src="{{ asset('bundles/nextop/photos/' ~ article.photo) }}" alt="Photo de {{ article.title }}">
        </a>
        <div class="portfolio-caption">
          <h4><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.title }}</a></h4>
          <p class="text-muted">{{ article.content }}</p>
          <p class="lead mb-0">Création le : {% if article.createdAt %}{{ article.createdAt|date('Y-m-d') }}{% endif %}</p>
          <a class="col btn btn-info" href="{{ path('article_show', { 'id': article.id }) }}">Voir</a>

          {#
          <a class="col-xs-6 btn btn-warning" href="{{ path('article_edit', { 'id': article.id }) }}">Modifier</a>
          #}
        </div>
      </div>

    {% endfor %}

    </div>

  </div>
</section>

{% endblock %}
