{% extends '@NextOp/Default/index.html.twig' %}

{% block body %}
    <h1>Créaton d'article</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
