{% extends '@NextOp/Default/index.html.twig' %}

{% block contenu %}
    <h2>Article</h2>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


    <table class="table">
        <tbody>
            <tr>
                <th scope="col">N°</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th scope="col">Titre</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th scope="col">Contenu</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th scope="col">Créé le</th>
                <td>{% if article.createdAt %}{{ article.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Mis à jour le</th>
                <td>{% if article.updatedAt %}{{ article.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Photo</th>
                <td><img src="{{ asset('bundles/nextop/photos/' ~ article.photo) }}" width="250px"></td>
                {#<td>{{ article.photo }}</td>#}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
