{% extends '@NextOp/Default/index.html.twig' %}

{% block contenu %}
    <h2>{{ article.title }}</h2>
    <p>Crée le {% if article.createdAt %}{{ article.createdAt|date('d-m-Y') }}{% endif %}</p>

    <div class="card">
      <img class="card-img-top" src="{{ asset('bundles/nextop/photos/' ~ article.photo) }}" width="250px" alt="Photo de {{ article.title }}">
      <div class="card-body">
        <p class="card-text">{{ article.content }}</p>
        <a href="{{ path('article_index') }}" class="btn btn-primary">Retour à la liste</a>
      </div>
    </div>

{% endblock %}
